<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>KINTSUGI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/tooplate-simply-amazed.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fontawesome/css/all.min.css')}}">
</head>

<body>
    <main>
        <div class="banner-section section parallax-window" data-parallax="scroll"
            data-image-src="{{url_for('static',filename='img/section-1-bg.jpg')}}" id="section-1" style="padding:60px">
            <div class="container">
                <div class="item">
                    <div class="bg-blue-transparent simple" style="background-color: #887aac; opacity: 0.8;">
                        <h2>Major depressive disorder</h2>
                        <hr class="featurette-divider">
                        <p align="justify">When people use the term clinical depression, they are generally referring to
                            major depressive disorder (MDD). Major
                            depressive disorder is a mood disorder characterized by a number of key features: </p>
                        <ul>
                            <li>Depressed mood</li>
                            <li>Lack of interest in activities normally enjoyed</li>
                            <li>Changes in weight</li>
                            <li>Changes in sleep</li>
                            <li>Fatigue</li>
                            <li>Feelings of worthlessness and guilt</li>
                            <li>Difficulty concentrating</li>
                            <li>Thoughts of death and suicide</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <section class="work-section section" id="section-2" style="background-color: #aa99d7;">
            <div class="container" style="padding-top:0; margin-top:0;">
                <div class="title" style="margin-top:0">
                    <h2>Persistent Depressive Disorder (PDD)</h2>
                </div>
                <div class="row" style="margin-top:50px">


                    <div
                        style="background-color: #e7e2f5; opacity: 0.9; margin:auto; margin-top:50px;  padding:35px; width: 86%;">
                        <p align="left" style="font-size:18px; font-family:sans-serif; color:#6C757D;">
                            Dysthymia, now known as persistent depressive disorder, refers to a type of chronic
                            depression present for more days than not for at least two years. It can be mild, moderate,
                            or severe.1
                            People might experience brief periods of not feeling depressed, but this relief of symptoms
                            lasts for two months or less. While the symptoms are not as severe as major depressive
                            disorder, they are pervasive and long-lasting.
                            PDD symptoms include:
                        </p>
                        <ul align="left">
                            <li>Feelings of sadness</li>
                            <li>Loss of interest and pleasure</li>
                            <li>Anger and irritability</li>
                            <li>Feelings of guilt</li>
                            <li>Low self-esteem</li>
                            <li>Difficulty falling or staying asleep</li>
                            <li>Sleeping too much</li>
                            <li>Feelings of hopelessness</li>
                            <li>Fatigue and lack of energy</li>
                            <li>Changes in appetite</li>
                            <li>Trouble concentrating</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>


        <div class="banner-section section parallax-window" data-parallax="scroll"
            data-image-src="{{url_for('static',filename='img/section-3-bg.jpg')}}" id="section-1" style="padding:60px">
            <div class="container">
                <div class="item">
                    <div class="bg-blue-transparent simple" style="background-color: #887aac; opacity: 0.8;">
                        <h2>Bipolar Disorder</h2>
                        <hr class="featurette-divider">
                        <p align="justify">Bipolar disorder is a mood disorder characterized by periods of abnormally
                            elevated mood known as mania. These periods can be mild (
                            hypomania) or they can be so extreme as to cause marked impairment with a person's life,
                            require hospitalization, or affect a person's
                            sense of reality. The vast majority of those with bipolar disorder also have episodes of
                            major depression. In addition to depressed mood
                            and markedly diminished interest in activities, people with depression often have a range of
                            physical and emotional symptoms which may
                            include: </p>
                        <ul>
                            <li>Fatigue, insomnia, and lethargy</li>
                            <li>Unexplained aches, pains, and psychomotor agitation</li>
                            <li>Hopelessness and loss of self-esteem</li>
                            <li>Irritability and anxiety</li>
                            <li>Indecision and disorganization</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <section class="work-section section" id="section-4" style="background-color: #aa99d7;">
            <div class="container" style="padding-top:0; margin-top:0;">
                <div class="title" style="margin-top:0">
                    <h2>Postpartum Depression (PPD) </h2>
                </div>
                <div class="row" style="margin-top:50px">

                    <div
                        style="background-color: #e7e2f5; opacity: 0.9; margin:auto; margin-top:50px;  padding:35px; width: 86%;">
                        <p align="justify" style="font-size:18px; font-family:sans-serif; color:#6C757D;">
                            Pregnancy can bring about significant hormonal shifts that can often affect a woman's moods.
                            Depression can have its onset
                            during pregnancy or following the birth of a child.Currently classified as depression with
                            peripartum onset, postpartum depression (PPD)
                            is more than that just the "baby blues." Mood changes, anxiety, irritability, and other
                            symptoms are not uncommon after giving birth
                            and often last up to two weeks. PPD symptoms are more severe and longer-lasting.Such
                            symptoms can include:
                        <ul>
                            <li>Low mood, feelings of sadness</li>
                            <li>Severe mood swings</li>
                            <li>Social withdrawal</li>
                            <li>Trouble bonding with your baby</li>
                            <li>Appetite changes</li>
                            <li>Feeling helpless and hopeless</li>
                            <li>Loss of interest in things you used to enjoy</li>
                            <li>Feeling inadequate or worthless</li>
                            <li>Anxiety and panic attacks</li>
                            <li>Thoughts of hurting yourself or your baby</li>
                            <li>Thoughts of suicide</li>
                        </ul>
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <div class="banner-section section parallax-window" data-parallax="scroll"
            data-image-src="{{url_for('static',filename='img/section-1-bg.jpg')}}" id="section-1" style="padding:60px">
            <div class="container">
                <div class="item">
                    <div class="bg-blue-transparent simple" style="background-color: #887aac; opacity: 0.8;">
                        <h2>Premenstrual dysphoric disorder (PMDD)</h2>
                        <hr class="featurette-divider">
                        <p align="justify">Among the most common symptoms of premenstrual syndrome (PMS) are
                            irritability, fatigue, anxiety, moodiness, bloating,
                            increased appetite, food cravings, aches, and breast tenderness. Premenstrual dysphoric
                            disorder (PMDD) produces similar symptoms, but
                            those related to mood are more pronounced.
                            PMDD symptoms may include:</p>
                        <ul>
                            <li>Extreme fatigue</li>
                            <li>Feeling sad, hopeless, or self-critical</li>
                            <li>Severe feelings of stress or anxiety</li>
                            <li>Mood swings, often with bouts of crying</li>
                            <li>Irritability</li>
                            <li>Inability to concentrate </li>
                            <li>Food cravings or binging</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <section class="work-section section" id="section-4" style="background-color: #aa99d7;">
            <div class="container" style="padding-top:0; margin-top:0;">
                <div class="title" style="margin-top:0">
                    <h2>Psychotic depression</h2>
                </div>
                <div class="row" style="margin-top:50px">

                    <div
                        style="background-color: #e7e2f5; opacity: 0.9; margin:auto; margin-top:50px;  padding:35px; width: 86%;">
                        <p align="justify" style="font-size:18px; font-family:sans-serif; color:#6C757D;">
                            People with psychotic depression have severe depressive symptoms and delusions or
                            hallucinations. Delusions are beliefs in things
                            that are not based in reality, while hallucinations involve seeing, hearing, or feeling
                            touched by things that aren’t actually there.</p>
                        ass="featurette-heading">Seasonal Affective Disorder (SAD)</p>

                        <p align="justify" style="font-size:18px; font-family:sans-serif; color:#6C757D;"> If you
                            experience depression, sleepiness, and weight gain during the winter months but feel
                            perfectly fine in spring, you
                            may have a condition known as seasonal affective disorder (SAD), currently called major
                            depressive disorder with seasonal pattern.
                            SAD is believed to be triggered by a disturbance in the normal circadian rhythm of the body.
                            Light entering through the eyes influences
                            this rhythm, and any seasonal variation in night/day pattern can cause a disruption leading
                            to depression.Prevalence rates for SAD can be
                            difficult to pinpoint because the condition often goes undiagnosed and unreported. It is
                            more common in areas further from the equator.
                            For example, estimates suggest that SAD impacts 1% of the population of Florida; that number
                            increases to 9% in Alaska.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <div class="banner-section section parallax-window" data-parallax="scroll"
            data-image-src="{{url_for('static',filename='img/section-1-bg.jpg')}}" id="section-1" style="padding:60px">
            <div class="container">
                <div class="item">
                    <div class="bg-blue-transparent simple" style="background-color: #887aac; opacity: 0.8;">
                        <h2>Atypical Depression</h2>
                        <hr class="featurette-divider">
                        <p align="justify">Do you experience signs of depression (such as overeating, sleeping too much, or extreme sensitivity to rejection) but 
                            find yourself suddenly perking up in face of a positive event? Based on these symptoms, you may be diagnosed with atypical depression 
                            (current terminology refers to this as depressive disorder with atypical features), a type of depression that doesn't follow what was 
                            thought to be the "typical" presentation of the disorder. Atypical depression is characterized by a specific set of symptoms related 
                            to : Atypical depression is actually more common than the name might imply. Unlike other forms of depression, people with atypical d
                            epression may respond better to a type of antidepressant known as a monoamine oxidase inhibitor (MAOI).</p>
                            <ul>
                                <li>Extreme fatigue</li>
                                <li>Feeling sad, hopeless, or self-critical</li>
                                <li>Severe feelings of stress or anxiety</li>
                                <li>Mood swings, often with bouts of crying</li>
                                <li>Irritability</li>
                                <li>Inability to concentrate </li>
                                <li>Food cravings or binging</li>
                            </ul>
                    </div>

                </div>
            </div>
        </div>
    </main>
    </div>
    <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.singlePageNav.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/slick.js')}}"></script>
    <script src="{{url_for('static',filename='js/parallax.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/templatemo-script.js')}}"></script>
</body>

</html>